body {
  color: #fafafa;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./img/elephant.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  margin: 50px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card01 {
  background-color: rgba(97, 84, 28, 0.9);
  border: none;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  height: 900px;
  width: 800px;
}

.card01 .title {
  margin: 0px;
  color: chartreuse;
}
.card02 {
  background-color: rgba(97, 84, 28, 0.9);
  border: none;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  height: 1070px;
  width: 800px;
}

.card02 .title {
  margin: 0px;
  color: chartreuse;
}
