body {
  color: #fafafa;
  background-color: rgb(84, 175, 218);
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  margin: 100px;
}

fieldset {
  border-radius: 6px;
}

.foco {
  color: crimson;
}

.botao {
  background-color: cornflowerblue;
  color: #fafafa;
  border-color: #0abae6;
  border-radius: 3px;
  padding: 4px;
}

.enviar {
  background-color: rgb(92, 219, 18);
  padding: 5px;
  border: none;
  border-radius: 3px;
}

a {
  color: #0abae6;
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card01 .title {
  margin: 0px;
  color: chartreuse;
}

.card01 {
  background-color: rgba(97, 84, 28, 0.9);
  border: none;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  height: 750px;
  width: 500px;
}
